<% wrap_layout "base" do %>
	<section class="container clearfix">
		<!-- Page Title -->
		<header class="container page_info clearfix">
			<h1 class="regular brown bottom_line"><%= data.page.header || data.page.title %></h1>
			<div class="clear"></div>
		</header>
		<!-- /Page Title -->
		<div class="container"><%= yield %></div>
		<div class="clear padding20"></div>
		<div class="clear"></div>
	</section>
<% end %>
