	<header class="header_bg clearfix">
		<div class="container clearfix">

			<ul class="social-links">
				<li ><a href="javascript:"><img src="/images/facebook.png" alt="Facebook"></a></li>
				<li ><a href="javascript:"><img src="/images/twitter.png" width="24" height="24" alt="Twitter"></a></li>
			</ul>

			<div class="logo">
				<a href="/"><img src="/images/logo.png" alt="" /></a>
			</div>

			<nav class="main-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a>Pages</a>
						<ul>
							<li><a href="/elements.html">Elements</a></li>
							<li><a href="/typography.html">Typography</a></li>
							<li><a href="/blog_single.html">Blog Single Post</a></li>
							<li><a href="javascript:">Pricing</a>
								<ul>
									<li><a href="/pricing_2_cols.html">Pricing 2 Cols</a></li>
									<li><a href="/pricing_3_cols.html">Pricing 3 Cols</a></li>
									<li><a href="/pricing_4_cols.html">Pricing 4 Cols</a></li>
									<li><a href="/pricing_5_cols.html">Pricing 5 Cols</a></li>
									
								</ul>
							</li>
							<li><a href="/full_width.html">Full Width</a></li>
							<li><a href="/404.html">404 Page</a></li>
						</ul>
					</li>
					<li><a>Portfolio</a>
						<ul>
							<li><a href="/portfolio_2_cols.html">Portfolio 2 Cols</a></li>
							<li><a href="/portfolio_3_cols.html">Portfolio 3 Cols</a></li>
							<li><a href="/portfolio_4_cols.html">Portfolio 4 Cols</a></li>
							<li><a href="/portfolio_details.html">Portfolio Details</a></li>
						</ul>
					</li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contact.html">Contact</a></li>
				</ul>
			</nav>

		</div>
	</header>